{{define "ListParts"}}
<ol class="breadcrumb">
	<li><a href="/">Home</a></li>
	<li class="active">Parts</li>
</ol>

<div class="row">
	<div class="col-md-9">

		<table class="table table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Part</th>
					<th>Value</th>
					<th>Category</th>
					<th>Stock</th>
					<th>Place</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{{range $index, $_ :=.Data.Parts}}
				<tr class="{{if eq .Amount 0}}danger{{end}}">
					<td>{{$index}}</td>
					<td>{{.Name}}</td>
					<td>{{.Value.Float64|siCanon}}{{.UnitSymbol.Value}}</td>
					<td>{{.CategoryName}}</td>
					<td>
						{{.Amount}}
					</td>
					<td>
						{{if .PlaceName.Valid}}
						{{.PlaceName.Value}}
						{{else}}
						(none)
						{{end}}
					</td>
					<td>
						<div class="btn-group pull-right">
							<a class="btn btn-sm btn-primary" href="/parts/edit/{{.Id}}">Edit</a>
							<button class="btn btn-sm btn-warning{{if eq .Amount 0}} disabled{{end}}" type="submit"
								form="actionForm" formaction="/parts/empty/{{.Id}}">Out of stock</button>
							<!--<button class="btn btn-sm btn-danger" type="submit"
								form="actionForm" formaction="/parts/delete/{{.Id}}">Delete</button>-->
						</div>
					</td>
				</tr>
				{{end}}
			</tbody>
		</table>

		<form method="POST" id="actionForm"></form>

		<ul class="pager">
			<li class="previous {{if eq .Data.CurrentPage 0}}disabled{{end}}"><a href="?{{.Data.PrevPage}}">Previous</a></li>
			<li class="next"><a href="?{{.Data.NextPage}}">Next</a></li>
		</ul>
	</div>
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">Actions</h2>
			</div>
			<div class="panel-body">
				<a class="btn btn-success" href="/parts/new">New part</a>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">Filters</h2>
			</div>

			<div class="panel-body">
				<form role="form" class="form" method="GET" action="/parts">
					<div class="form-group">
						<label for="filterCategory">Category</label>
						<select class="form-control" id="filterCategory" multiple name="category">
							{{with .Data.Categories}}
							{{range .}}
							<option value="{{.Id}}" {{if index $.Data.Filter.Categories .Id}}selected{{end}}>
								{{.Name}}{{if .Unit.Valid}} ({{.Unit.String}}){{end}}
							</option>
							{{end}}
							{{end}}
						</select>
					</div>
					<div class="form-group">
						<label for="filterPlace">Place</label>
						<select class="form-control" id="filterPlace" multiple name="place">
							{{with .Data.Places}}
							{{range .}}
							<option value="{{.Id}}" {{if index $.Data.Filter.Places .Id}}selected{{end}}>
								{{.Name}}
							</option>
							{{end}}
							{{end}}
						</select>
					</div>
					<div class="form-group">
						<label for="filterValue">Value</label>
						<input type="text" name="value" class="form-control" id="filterValue" placeholder="Value e.g. 1, 5k, 1k-20k"
							value="{{with .Data.Filter.Value}}{{.}}{{end}}"/>
					</div>
					<div class="form-group">
						<label for="filterName">Name</label>
						<input type="text" name="name" class="form-control" id="filterName" placeholder="Glob-style pattern"
							value="{{with .Data.Filter.Name}}{{.}}{{end}}"/>
					</div>
					<div class="form-group">
						<label for="filterAmount">Stock</label>
						<input type="text" name="amount" class="form-control" id="filterAmount" placeholder="Amount e.g. 1, 2, 5k"
							value="{{with .Data.Filter.Stock}}{{.}}{{end}}" />
					</div>
					<button type="submit" class="btn btn-primary">Apply filter</button>
				</form>
			</div>
		</div>
	</div>
</div>
{{end}}

{{define "NewPart"}}
<ol class="breadcrumb">
	<li><a href="/">Home</a></li>
	<li><a href="/parts">Parts</a></li>
	<li class="active">New part</a></li>
</ol>

{{with .Data}}
<form class="form-horizontal" role="form" method="POST" action="/parts">
	<div class="form-group">
		<label for="partName" class="col-sm-2 control-label">Name</label>
		<div class="col-sm-10">
			<input required type="text" class="form-control" id="partName" placeholder="Name, e.g. R10-1/4" name="name" value="{{.Obj.Name}}" />
		</div>
	</div>
	<div class="form-group">
		<label for="partDescription" class="col-sm-2 control-label">Description</label>
		<div class="col-sm-10">
			<textarea id="partDescription" class="form-control" rows="3" name="description" placeholder="Description">{{.Obj.Description|unnull}}</textarea>
		</div>
	</div>
	<div class="form-group">
		<label for="partValue" class="col-sm-2 control-label">Value</label>
		<div class="col-sm-10">
			<input autocomplete="off" type="text" class="form-control" id="partValue" placeholder="Value with optional SI prefix" name="value" value="{{.Obj.Value|unnull}}" />
		</div>
	</div>
	<div class="form-group">
		<label for="partAmount" class="col-sm-2 control-label">Stock</label>
		<div class="col-sm-10">
			<input autocomplete="off" type="text" class="form-control" id="partAmount" placeholder="Amount" name="amount" value="" />
		</div>
	</div>
	<div class="form-group">
		<label for="partPlace" class="col-sm-2 control-label">Place</label>
		<div class="col-sm-10">
			<select class="form-control" name="place">
				<option value="0">(none)</option>
				{{range .Places}}
				<option value="{{.Id}}">{{.Name}}</option>
				{{end}}
			</select>
		</div>
	</div>
	<div class="form-group">
		<label for="newPartFormCategory" class="col-sm-2 control-label">Category</label>
		<div class="col-sm-10">
			<select required class="form-control" name="category">
				<option value="">Please select category</option>
				{{range .Categories}}
				<option value="{{.Id}}">{{.Name}}{{with .Unit.Value}} ({{.}}){{end}}</option>
				{{end}}
			</select>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2">Next action</label>
		<div class="col-sm-10">
			<div class="checkbox">
				<label>
					<input type="radio" name="next" value="list" checked />
					List Parts
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="radio" name="next" value="show" />
					Show Part
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="radio" name="next" value="new" />
					New Part
				</label>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-default">Create new part</button>
		</div>
	</div>
</form>
{{end}}
{{end}}

{{define "EditPart"}}
{{with .Data}}
<ol class="breadcrumb">
	<li><a href="/">Home</a></li>
	<li><a href="/parts">Parts</a></li>
	<li>{{.Part.Name}}</li>
	<li class="active">Edit</li>
</ol>

<div class="row">
	<div class="col-md-8">
		<form class="form-horizontal" role="form" method="POST" action="/parts/edit/{{.Part.Id}}" id="editPartForm">
			<div class="form-group">
				<label for="partName" class="col-sm-2 control-label">Name</label>
				<div class="col-sm-10">
					<input required type="text" class="form-control" id="partName" placeholder="Name, e.g. R10-1/4" name="name" value="{{.Part.Name}}" />
				</div>
			</div>
			<div class="form-group">
				<label for="partDescription" class="col-sm-2 control-label">Description</label>
				<div class="col-sm-10">
					<textarea id="partDescription" class="form-control" rows="3" name="description" placeholder="Description">{{.Part.Description|unnull}}</textarea>
				</div>
			</div>
			<div class="form-group">
				<label for="partValue" class="col-sm-2 control-label">Value</label>
				<div class="col-sm-10">
					<div class="input-group">
						<input autocomplete="off" type="text" class="form-control" id="partValue" placeholder="Value with optional SI prefix" name="value" value="{{.Part.Value|unnull}}" />
						<span class="input-group-addon">
							{{if .Part.UnitSymbol.Valid}}
							{{.Part.UnitSymbol.Value}}
							{{end}}
						</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="partPlace" class="col-sm-2 control-label">Place</label>
				<div class="col-sm-10">
					<select class="form-control" name="place">
						<option value="0">(none)</option>
						{{range .Places}}
						<option {{if eq .Id $.Data.Part.PlaceId.Int64}}selected{{end}} value="{{.Id}}">{{.Name}}</option>
						{{end}}
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="newPartFormCategory" class="col-sm-2 control-label">Category</label>
				<div class="col-sm-10">
					<select class="form-control" name="category">
						{{range .Categories}}
						<option {{if eq .Id $.Data.Part.CategoryId}}selected{{end}} value="{{.Id}}">{{.Name}}{{if .Unit.Valid}} ({{.Unit|unnull}}){{end}}</option>
						{{end}}
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary">Update part</button>
				</div>
			</div>
		</form>
	</div>
	<div class="col-md-4">
		{{if .Part.ImageKey}}
		<a href="/attachments/{{.Part.ImageKey|hex}}">
			<img src="/attachments/{{.Part.ImageKey|hex}}" class="img-thumbnail img-responsive" />
		</a>
		{{end}}
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Attachments</h3>
			</div>
			<div class="panel-body">
				<form class="form form-inline" role="form" method="POST" enctype="multipart/form-data" action="/parts/upload/new/{{.Part.Id}}">
					<div class="form-group">
						<label for="uploadFile" class="sr-only control-label">File</label>
						<input required type="file" name="file" class="form-control" id="uploadFile" />
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary">Upload</button>
					</div>
				</form>
			</div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>
						<th>File name</th>
						<th>Type</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{{range .Attachments}}
					<tr>
						<td>
							{{if eq .MediaType "image"}}
							<input type="radio" form="editPartForm" name="image_id" value="{{.Id}}" {{if eq .Id $.Data.Part.ImageId.Value}}checked{{end}}/>
							{{end}}
						</td>
						<td><a href="/attachments/{{.Key|hex}}">{{.Name}}</a></td>
						<td>{{.Type}}</td>
						<td>
							<button class="btn btn-sm btn-danger" type="submit" form="actionForm"
								formaction="/parts/upload/delete/{{.Id}}">Delete</button>
						</td>
					</tr>
					{{end}}
				</tbody>
			</table>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Distributors</h3>
			</div>
			<div class="panel-body">
				<form class="form-horizontal" role="form" method="POST" action="/parts/distributors/new/{{.Part.Id}}">
					<div class="form-group">
						<label class="col-sm-4 control-label" for="distributorPartDistributor">Distributor</label>
						<div class="col-sm-8">
							<select required name="distributor" id="distributorPartDistributor">
								<option value="">Please select</option>
								{{range .Distributors}}
								<option value="{{.Id}}">{{.Name}}</option>
								{{end}}
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label" for="distributorPartKey">Product key</label>
						<div class="col-sm-8">
							<input required type="text" class="form-control" id="distributorPartKey"
								placeholder="Distributor part key" name="key" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label" for="distributorPartPrice">Product price</label>
						<div class="col-sm-8">
							<input required type="text" class="form-control" id="distributorPartPrice"
								placeholder="Price" name="price" autocomplete="off" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-4 col-sm-8">
							<button type="submit" class="btn btn-primary">Add Distributor</button>
						</div>
					</div>
				</form>
			</div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Distributor</th>
						<th>Product key</th>
						<th>Price</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{{range .DistributorParts}}
					<tr>
						<td>{{.Name}}</td>
						<td>{{with .Key}}{{.}}{{else}}(none){{end}}</td>
						<td>{{.Price}}</td>
						<td>
							<div class="btn-group pull-right">
								<a class="btn btn-primary btn-sm" href="/parts/distributors/link/{{.Id}}">To distributor</a>
								<button class="btn btn-sm btn-danger" type="submit"
									form="actionForm" formaction="/parts/distributors/delete/{{.Id}}">Delete</button>
							</div>
						</td>
					</tr>
					{{end}}
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Stock</h3>
			</div>
			<div class="panel-body">
				<dl class="dl-horizontal">
					<dt>Stock</dt>
					<dd>
						<form class="form form-inline" role="form" method="POST" action="/parts/record/{{.Part.Id}}">
							<div class="form-group">
								<label for="stockAmount" class="sr-only control-label">New stock</label>
								<input required type="text" class="form-control" name="amount" id="stockAmount" placeholder="New stock" value="{{.Part.Amount}}" />
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-primary">Update</button>
							</div>
						</form>
					</dd>
				</dl>
			</div>
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th>Timestamp</th>
						<th>Stock</th>
					</tr>
				</thead>
				<tbody>
					{{range .Amounts}}
					<tr>
						<td>{{.Timestamp}}</td>
						<td>{{.Amount}}</td>
					</tr>
					{{end}}
				</tbody>
			</table>
		</div>
	</div>
</div>

<form id="actionForm" method="POST"></form>
{{end}}
{{end}}

{{define "RecordPartAmount"}}
<ol class="breadcrumb">
	<li><a href="/">Home</a></li>
	<li><a href="/parts">Parts</a></li>
	<li>{{.Data.Name}}</li>
	<li class="active">Record stock</li>
</ol>

{{with .Data}}
<div class="row">
	<div class="col-sm-6">
		<form class="form" role="form" method="POST" action="/parts/record/{{.Id}}">
			<div class="form-group">
				<label for="recordAmount">Stock</label>
				<input autocomplete="off" type="text" class="form-control" id="record amount" placeholder="New amount" name="amount" />
			</div>
			<button type="submit" class="btn btn-default">Save new amount</button>
		</form>
	</div>
	<div class="col-sm-6">
	</div>
</div>
{{end}}
{{end}}

{{define "PartMerge"}}
{{with .Data}}
<ol class="breadcrumb">
	<li><a href="/">Home</a></li>
	<li><a href="/parts">Parts</a></li>
	<li><a href="/parts/edit/{{.Part.Id}}">{{.Part.Name}}</a></li>
	<li class="active">Merge</li>
</ol>

<div class="row">
	<form class="form-horizontal" method="POST" action="/parts/merge/{{.Part.Id}}" role="form">
		<input type="hidden" value="{{.Part.Id}}" name="parts" />
		<div class="control-label" style="text-align: left;">
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th>Merge</th>
						<th>Name</th>
						<th>Value</th>
						<th>Category</th>
						<th>Stock</th>
						<th>Place</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{{range .Parts}}
					<tr>
						<td><input type="checkbox" value="{{.Id}}" name="parts" /></td>
						<td>{{.Name}}</td>
						<td>{{.Value.Value|siCanon}}{{.UnitSymbol.Value}}</td>
						<td>{{.CategoryName}}</td>
						<td>{{.Amount}}</td>
						<td>{{.PlaceName.Value}}</td>
						<td>
							<div class="pull-right">
								<a target="_blank" class="btn btn-default" href="/parts/edit/{{.Id}}">Edit</a>
							</div>
						</td>
					</tr>
					{{end}}
				</tbody>
			</table>
		</div>
		<div class="form-group">
			<label for="partMergeName" class="col-sm-2 control-label">Name</label>
			<div class="col-sm-10">
				<input type="text" id="partMergeName" required value="{{.Part.Name}}"
					name="name" placeholder="New part name after merge" class="form-control"/>
			</div>
		</div>
		<div class="form-group">
			<label for="partMergeDescription" class="col-sm-2 control-label">Description</label>
			<div class="col-sm-10">
				<textarea class="form-control" rows="3" id="partMergeDescription"
					name="description">{{.Part.Description.Value}}</textarea>
			</div>
		</div>
		<div class="form-group">
			<label for="partMergePlace" class="col-sm-2 control-label">Place</label>
			<div class="col-sm-10">
				<select required name="place">
					{{range .Places}}
					<option value="{{.Id}}" {{if eq .Id $.Data.Part.PlaceId.Value}}selected{{end}}>{{.Name}}</option>
					{{end}}
				</select>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2-offset col-sm-10">
				<button class="btn btn-primary" type="submit">Merge Parts</button>
			</div>
		</div>
	</form>
</div>
{{end}}
{{end}}
