{{define "ListParts"}}
<ol class="breadcrumb">
	<li><a href="/">Home</a></li>
	<li class="active">Parts</li>
</ol>

<div class="row">
	<div class="col-md-9">

		<table class="table table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Part</th>
					<th>Value/Category</th>
					<th>Stock</th>
					<th>Place</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{{range $index, $_ :=.Data.Parts}}
				<tr class="{{if eq .Amount 0}}danger{{end}}">
					<td>{{$index}}</td>
					<td>{{.Name}}</td>
					<td>
						{{if .Value.Valid}}
						{{.Value.Value|siCanon}}
						{{end}}
						{{if .Unit.Valid}}
						{{.UnitSymbol.Value}}
						{{else}}
						{{.CategoryName}}
						{{end}}
					</td>
					<td>
						{{.Amount}}
					</td>
					<td>
						{{if .PlaceName.Valid}}
						{{.PlaceName.Value}}
						{{else}}
						(none)
						{{end}}
					</td>
					<td>
						<div class="btn-group pull-right">
							<a class="btn btn-sm btn-primary" href="/parts/edit/{{.Id}}">Edit</a>
							<a class="btn btn-sm btn-warning{{if eq .Amount 0}} disabled{{end}}" href="/parts/empty/{{.Id}}">Out of stock</a>
						</div>
					</td>
				</tr>
				{{end}}
			</tbody>
		</table>

		<ul class="pager">
			<li class="previous {{if eq .Data.CurrentPage 0}}disabled{{end}}"><a href="?{{.Data.PrevPage}}">Previous</a></li>
			<li class="next"><a href="?{{.Data.NextPage}}">Next</a></li>
		</ul>
	</div>
	<div class="col-md-3">
		<a class="btn btn-success" href="/parts/new">New part</a>

		<h2>Filters</h2>

		<form role="form" class="form" method="GET" action="/parts">
			<div class="form-group">
				<label for="filterCategory">Category</label>
				<select class="form-control" id="filterCategory" multiple name="category">
					{{with .Data.Categories}}
					{{range .}}
					<option value="{{.Id}}">{{.Name}}{{if .Unit.Valid}} ({{.Unit.String}}){{end}}</option>
					{{end}}
					{{end}}
				</select>
			</div>
			<div class="form-group">
				<label for="filterValue">Value</label>
				<input type="text" name="value" class="form-control" id="filterValue" placeholder="Value e.g. 1, 5k, 1k-20k" />
			</div>
			<div class="form-group">
				<label for="filterAmount">Stock</label>
				<input type="text" name="amount" class="form-control" id="filterAmount" placeholder="Amount e.g. 1, 2, 5k" />
			</div>
			<button type="submit" class="btn btn-primary">Apply filter</button>
		</form>
	</div>
</div>
{{end}}

{{define "NewPart"}}
<ol class="breadcrumb">
	<li><a href="/">Home</a></li>
	<li><a href="/parts">Parts</a></li>
	<li class="active">New part</a></li>
</ol>

{{with .Data}}
<form class="form-horizontal" role="form" method="POST" action="/parts">
	<div class="form-group">
		<label for="partName" class="col-sm-2 control-label">Name</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="partName" placeholder="Name, e.g. R10-1/4" name="name" value="{{.Obj.Name}}" />
		</div>
	</div>
	<div class="form-group">
		<label for="partDescription" class="col-sm-2 control-label">Description</label>
		<div class="col-sm-10">
			<textarea id="partDescription" class="form-control" rows="3" name="description" placeholder="Description">{{.Obj.Description|unnull}}</textarea>
		</div>
	</div>
	<div class="form-group">
		<label for="partValue" class="col-sm-2 control-label">Value</label>
		<div class="col-sm-10">
			<input autocomplete="off" type="text" class="form-control" id="partValue" placeholder="Value with optional SI prefix" name="value" value="{{.Obj.Value|unnull}}" />
		</div>
	</div>
	<div class="form-group">
		<label for="partAmount" class="col-sm-2 control-label">Stock</label>
		<div class="col-sm-10">
			<input autocomplete="off" type="text" class="form-control" id="partAmount" placeholder="Amount" name="amount" value="" />
		</div>
	</div>
	<div class="form-group">
		<label for="partPlace" class="col-sm-2 control-label">Place</label>
		<div class="col-sm-10">
			<select class="form-control" name="place">
				<option value="0">(none)</option>
				{{range .Places}}
				<option value="{{.Id}}">{{.Name}}</option>
				{{end}}
			</select>
		</div>
	</div>
	<div class="form-group">
		<label for="newPartFormCategory" class="col-sm-2 control-label">Category</label>
		<div class="col-sm-10">
			<select class="form-control" name="category">
				{{range .Categories}}
				<option value="{{.Id}}">{{.Name}}{{with .Unit.Value}} ({{.}}){{end}}</option>
				{{end}}
			</select>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-default">Create new part</button>
		</div>
	</div>
</form>
{{end}}
{{end}}

{{define "EditPart"}}
{{with .Data}}
<ol class="breadcrumb">
	<li><a href="/">Home</a></li>
	<li><a href="/parts">Parts</a></li>
	<li>{{.Part.Name}}</li>
	<li class="active">Edit</li>
</ol>

<div class="row">
	<div class="col-md-8">
		<form class="form-horizontal" role="form" method="POST" action="/parts/edit/{{.Part.Id}}">
			<div class="form-group">
				<label for="partName" class="col-sm-2 control-label">Name</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="partName" placeholder="Name, e.g. R10-1/4" name="name" value="{{.Part.Name}}" />
				</div>
			</div>
			<div class="form-group">
				<label for="partDescription" class="col-sm-2 control-label">Description</label>
				<div class="col-sm-10">
					<textarea id="partDescription" class="form-control" rows="3" name="description" placeholder="Description">{{.Part.Description|unnull}}</textarea>
				</div>
			</div>
			<div class="form-group">
				<label for="partValue" class="col-sm-2 control-label">Value</label>
				<div class="col-sm-10">
					<div class="input-group">
						<input autocomplete="off" type="text" class="form-control" id="partValue" placeholder="Value with optional SI prefix" name="value" value="{{.Part.Value|unnull}}" />
						{{if .Part.UnitSymbol.Valid}}
						<span class="input-group-addon">
							{{.Part.UnitSymbol.Value}}
						</span>
						{{end}}
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="partPlace" class="col-sm-2 control-label">Place</label>
				<div class="col-sm-10">
					<select class="form-control" name="place">
						<option value="0">(none)</option>
						{{range .Places}}
						<option {{if eq .Id $.Data.Part.PlaceId.Int64}}selected{{end}} value="{{.Id}}">{{.Name}}</option>
						{{end}}
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="newPartFormCategory" class="col-sm-2 control-label">Category</label>
				<div class="col-sm-10">
					<select class="form-control" name="category">
						{{range .Categories}}
						<option {{if eq .Id $.Data.Part.CategoryId}}selected{{end}} value="{{.Id}}">{{.Name}}{{if .Unit.Valid}} ({{.Unit|unnull}}){{end}}</option>
						{{end}}
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary">Update part</button>
				</div>
			</div>
		</form>
		<h2>Upload file</h2>
		<form class="form-horizontal" role="form" method="POST" enctype="multipart/form-data" action="/parts/upload/new/{{.Part.Id}}">
			<div class="form-group">
				<label for="uploadName" class="col-sm-2 control-label">Name</label>
				<div class="col-sm-10">
					<input type="text" name="name" class="form-control" id="uploadName" />
				</div>
			</div>
			<div class="form-group">
				<label for="uploadFile" class="col-sm-2 control-label">File</label>
				<div class="col-sm-10">
					<input type="file" name="file" class="form-control" id="uploadFile" />
				</div>
			</div>
			<div class="form-group">
				<label for="uploadType" class="col-sm-2 control-label">Type</label>
				<div class="col-sm-10">
					<select class="form-control" name="type">
						<option value="image">Image</option>
						<option value="datasheet">Datasheet</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary">Upload</button>
				</div>
			</div>
		</form>
	</div>
	<div class="col-md-4">
		<p><strong>Current stock</strong> {{.Part.Amount}}</p>
		<form class="form" role="form" method="POST" action="/parts/record/{{.Part.Id}}">
			<div class="row">
				<div class="input-group">
					<input type="text" class="form-control" name="amount" placeholder="New stock" />
					<span class="input-group-btn">
						<button class="btn btn-primary" type="submit">Record</button>
					</span>
				</div>
			</div>
		</form>
		<hr />
		<div id="amountChart" style="height: 360px"></div>
		<script type="application/javascript">
(function(){
 var data = [ {{.AmountGraph}} ];
 var options = {
	xaxis: {
		mode: "time",
		timeformat: "%d.%m.%Y"
	}
 };
 $.plot($("#amountChart"), data, options);
})();
		</script>
	</div>
</div>
{{end}}
{{end}}

{{define "RecordPartAmount"}}
<ol class="breadcrumb">
	<li><a href="/">Home</a></li>
	<li><a href="/parts">Parts</a></li>
	<li>{{.Data.Name}}</li>
	<li class="active">Record stock</li>
</ol>

{{with .Data}}
<div class="row">
	<div class="col-sm-6">
		<form class="form" role="form" method="POST" action="/parts/record/{{.Id}}">
			<div class="form-group">
				<label for="recordAmount">Stock</label>
				<input autocomplete="off" type="text" class="form-control" id="record amount" placeholder="New amount" name="amount" />
			</div>
			<button type="submit" class="btn btn-default">Save new amount</button>
		</form>
	</div>
	<div class="col-sm-6">
	</div>
</div>
{{end}}
{{end}}
